<nav>
    <div id="nav-tiles-wrapper">
        <div class="nav-tile" (click)="navigateTo('home')" (keydown.enter)="navigateTo('home')" tabindex="0">
            Strona główna
        </div>
        <div class="nav-tile" (click)="navigateTo('animals')" (keydown.enter)="navigateTo('animals')" tabindex="1">
            Zwierzęta
        </div>
        <div class="nav-tile" (click)="navigateTo('store')" (keydown.enter)="navigateTo('store')" tabindex="2">
            Sklep
        </div>
        <div class="nav-tile" (click)="navigateTo('profile')" (keydown.enter)="navigateTo('profile')" tabindex="3">
            Profil
        </div>
    </div>
</nav>