:root {
    --primary-color: #b72552;
    --secondary-color: #7f1330;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    width: 100%;
    min-height: 400px;
}